<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.title %}
  <title>{{ page.title }} | {{ site.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}
  <meta name="description" content="{{ page.description | default: site.description }}">
  {% include twitter_card.html %}
  {% include opengraph.html %}
  
  <link href="https://use.typekit.net/fkz3lkk.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css" type="text/css" charset="utf-8">
</head>
<body class="freight dark">

  <main class="container">
    {{ content }}
  </main>
</body>
</html>{% if hidden_track %}
<!-- 

{{ hidden_track }}

-->
{% endif %}
